"""
    Настройки скрипта резервного копирования
"""

''' Расположение копируемого источника
'''
# Папка с базами
BASE_1C = r'c:\\'
# Расширение файлов, которые надо архивировать
# EXTENSION_1C = '' - копировать все файлы
EXTENSION_1C = '.1cd'
# Исключаемые из резервной копии папки
IGNORE = ['dir', ]

''' Настройка хранения резервных копий
    Старые копии будут удаляться, если они старше указанного количества дней И их колчество превышает указанное
'''
# расположение копий
BACKUP_FOLDER = r'C:\backups'
# количество хранимых копий
# BACKUP_COUNT = 0 - хранить все
BACKUP_COUNT = 10
# срок хранения копий (дней)
# BACKUP_LIFETIME = 0 - хранить все
BACKUP_LIFETIME = 7

''' Настройки архиватора
'''
ARCH_PASSWORD = 'password'
ARCH_EXEC = r'c:\Program Files\7-Zip\7z.exe'

''' Настройка почты
'''
MAIL_SERVER = 'mail.ru'
MAIL_PORT = 25
MAIL_TO_ADDRESS = 'example@mail.ru'
MAIL_USER = 'example@mail.ru'
MAIL_PASSWORD = ''

''' Настройка логов
'''
LOG_FOLDER = ''
LOG_FILENAME = 'log.txt'


base = {
    'folder': BASE_1C,
    'extension': EXTENSION_1C,
    'ignore': IGNORE,
}

log = {
    'folder': LOG_FOLDER,
    'filename': LOG_FILENAME,
}

mail = {
    'server': MAIL_SERVER,
    'port': MAIL_PORT,
    'password': MAIL_PASSWORD,
    'from': MAIL_USER,
    'to': MAIL_TO_ADDRESS
}

backup = {
    'folder': BACKUP_FOLDER,
    'count': BACKUP_COUNT,
    'lifetime': BACKUP_LIFETIME,
}

arch = {
    'password': ARCH_PASSWORD,
    'exec': ARCH_EXEC,
}
